<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--
        Authorize the cart, then require an allowed payment method that is active in its store.
        Extend allowedPaymentMethods only for gateways that use this resolver's response protocol.
    -->
    <type name="Magetu\PaypalPaymentFailureGuard\Plugin\Resolver\PayflowProResponseGuard">
        <arguments>
            <argument name="allowedPaymentMethods" xsi:type="array">
                <item name="payflowpro" xsi:type="const">Magento\Paypal\Model\Config::METHOD_PAYFLOWPRO</item>
                <item name="payflowpro_cc_vault" xsi:type="const">Magento\Paypal\Model\Payflow\Transparent::CC_VAULT_CODE</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\PaypalGraphQl\Model\Resolver\PayflowProResponse">
        <plugin name="magetu_payflow_pro_response_guard"
                type="Magetu\PaypalPaymentFailureGuard\Plugin\Resolver\PayflowProResponseGuard"/>
    </type>
</config>
